{% extends 'base.html' %}

{% block main %}
<div class="row">
    <div class="col-xs-12 text-xs-center">
        <h1 class="display-4">Архив новостей Днепропетровска</h1>
        <form action="{{ url_for('start_build')}}" method="get">
            <input type="submit" class="btn btn-primary" value="К текущим новостям!">
        </form>
        {% for date in dates_list %}
            <div class='col-xs-12 text-xs-center'>
                <a href={{ url_for('archive_date', news_date=date)}}>{{ date }}</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}