{% extends 'base.html' %}

{% block main %}
<div class="row">
    <div class="col-xs-12 text-xs-center">
        <h1 class="display-4">Хотите посмотреть новости?</h1>
        <form action="{{ url_for('start_build')}}" method="get">
            <input type="submit" class="btn btn-primary" value="Посмотреть!">
        </form>
    </div>
</div>
{% endblock %}