{% extends 'base.html' %}

{% block main %}
<div class="row">
    <div class="col-xs-12 text-xs-center">
        <h1 class="display-4">Последние новости Днепропетровска</h1>
        <h3 class="display-4"><a href="{{ url_for('archive')}}">Архив новостей</a></h3>
        <div id="links-container">

        </div>
    </div>
</div>
{% endblock %}

{% block footer_links %}
<script>
    $(function() {
        var options = {
            links_url: "{{ url_for('api_archive_date', news_date=news_date)}}"
        };
        main.links(options);
    });
</script>
{% endblock %}